:root {
  --searchInputPlaceholderColor: #484848;
}

#searchInput {
  background: #dcdce2;
  width: 200%;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #1c1e2a;
}

#searchInput::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  font-weight: normal;
  color: var(--searchInputPlaceholderColor);
}
#searchInput:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-weight: normal;
  color: var(--searchInputPlaceholderColor);
  opacity: 1;
}
#searchInput::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-weight: normal;
  color: var(--searchInputPlaceholderColor);
  opacity: 1;
}
#searchInput:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-weight: normal;
  color: var(--searchInputPlaceholderColor);
}

#searchResults {
  background: white !important;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
#searchResults ul {
  list-style-type: none;
  padding: 0;
  font-size: smaller;
  font-weight: normal;
  margin: 0;
}
#searchResults li {
  padding: 0 5px 3px 5px;
}
#searchResults li:hover {
  cursor: pointer;
  background: #e5e5e5;
}
