.time {
  font-family: 'Matricha', 'Georgia', serif;
  color: #efd189;
  font-size: 4.2rem;
}

.vbbCredit {
  font-family: 'Matricha', 'Georgia', serif;
  color: #efd189;
  font-size: 40px;
}

.vbbLiability {
  font-family: 'Matricha', 'Georgia', serif;
  color: #efd189;
  font-size: 15px;
}
@media only screen and (max-width: 575px) {
  .vbbLiability {
    text-align: center;
  }
}

.vbbLogo {
  height: 70px;
  margin-left: 30px;
}
